.dirs > li { display: inline-block; margin: 5px; }

.thumbnail { max-width: 150px; max-height: 150px; }

p { text-align: center; }

html { height: 100% }
body { height: 98% }
.main { width: 80%; margin: auto; height: 98%; overflow: hidden; }

img { max-width: 100%; max-height: 90%; display: block; margin: auto; }


.imgNav { text-align: center; margin: 5px; }
.imgNav * { margin: 5px; }
