.dirs > li { display: inline-block; margin: 5px; }

.thumbnail { max-width: 150px; max-height: 150px; }

.main { width: 80%; margin: auto; }

p { text-align: center; }

img { max-width: 100%; display: block; margin: auto; }
